#jumbotron {

    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* position: relative; */
    /* width:max-content; */
    /* min-height: 1041px; */
    background-image: url("../img/m-jumbotron.png");
    /* Full height */
    min-height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-size: cover;  */
    /* position: relative; */
    /* height: 800px; */
}

#jumbotron .img {
    position: absolute;
    /* right: -100px; */
}

#jumbotron .title {
    z-index: 100;
    margin-top: 142px;
    /* max-width: 430px; */
}

#jumbotron .title h1 {
    color: var(--primary);
    font-size: 54px;
    line-height: 55.6px;
    letter-spacing: -2.16px;
    margin-bottom: 0px;
    margin-top: 10px;
    /* font-weight:bold; */
}

#jumbotron .title h6 {
    font-size: 28px;
    font-family: Poppins;
    line-height: 30.4px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* max-width: 10px; */
}

#jumbotron .title p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 400;
}

#jumbotron .title button {
    margin-top: 20px;
    margin-bottom: 20px;
}

#jumbotron .support {
    display: flex;
    justify-content: space-between;
    /* gap: 19px; */
    margin-bottom: 20px;
}